body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    height:10vh;
    width: 100%;
    background-color: black;
}

.align {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;    
}

.title {
    margin-left: 5vh;
    font-size: 2.5rem;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.optionnav {
    display: flex;
    gap: 4vw;
}

.lien {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

main {
    height: 100vh;
    width: 100%;
}

h2{
    padding: 0;
    margin: 0;
}

.st0 {
    display:none;
    fill:none;
    stroke:#333333;
    stroke-miterlimit:10;
}

.st1 {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FFA400;
}
.st2 {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FF414E;
}
.st3 {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#80BC00;
}
.st4 {
    fill:#333333;
}
.st5 {
    fill:#FFFFFF;
}

.tst {
    transform-origin: 410px 320px;
}

.svg {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}